@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
    background-color: whitesmoke;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}
 
.button-delete {
    background-color: darkred !important;
    color: white !important;
}

.button-grey {
    background-color: slategray !important;
    color: white !important;
}